<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<springProperty scope="context" name="springAppName" source="spring.application.name"/> 

	<property name="log_directory" value="./logs" />

	<!-- You can override this to have a custom pattern -->
	<property name="LOG_PATTERN"
			  value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_directory}/bs-statement.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- daily rollover -->
			<!-- note that gzip is not enabled because the log files are read by filebeat -->
			<fileNamePattern>${log_directory}/bs-statement.%d{yyyy-MM-dd}.%i</fileNamePattern>

			<!-- each file should be at most 100MB, keep 10 days worth of history, but at most 4GB -->
			<maxHistory>10</maxHistory>
			<MaxFileSize>100MB</MaxFileSize>
			<totalSizeCap>4GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<!-- Setting the root level of logging -->
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="file"/>
    </appender>

    <root level="info">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
